<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>
    <!-----------------------------------------------  NAVBAR --------------------------------------------->
    <nav id="navbar" class="container navbar navbar-expand-md fixed-top navbar-light" style="background-color: #fff;">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            @*<img id="logo" src="img/Andrew Sig - BLK.png" alt="Logo" width="130" height="30">*@
            <!-- <img src="img/Andrew Sig Wide BLK.png" alt="" width="150" height="25"> -->
            <!-- <img src="img/Andrew Sig Wide Fancy WHT.png" alt="" width="150" height="25"> -->

            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })
                        @*<a class="nav-link" href="@Url.Action("Index", "Home")"><span class="sr-only">(current)</span></a>*@
                    </li>
                    <li class="nav-item">@Html.ActionLink("Get Quote", "Create", "Insuree", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("List Quotes (Admin)", "Index", "Admin", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("List Details (Admin)", "List", "Admin", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- /Navigation -->

    <div class="container body-content">
        <div class="jumbotron text-center cci-jumbotron">
            <h1>Cascade Car Insurance</h1>
            <p><i>@ViewBag.JumbotronMessage</i></p>
            @Html.Raw(@ViewBag.Button)
        </div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Cascade Car Insurance</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
